.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: white;
}

#questionScroll {
    -fx-background-color: #f5f5f5;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}

#questionScroll .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 12px;
}

#questionScroll .scroll-bar:horizontal {
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-opacity: 0;
}

#questionScroll .corner {
    -fx-background-color: transparent;
}


.timer-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #eeeeee;
    -fx-border-radius: 6px;
    -fx-padding: 8px 14px;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}

.tiles-container {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.tiles-container .button {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-text-fill: black;
}

.tiles-container .button:hover {
    -fx-background-color: #f0f0f0;
}

.next-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}

.next-button:hover {
    -fx-background-color: #333;
}

.question-block {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.question-text {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.options-box .radio-button {
    -fx-font-size: 14px;
    -fx-padding: 5 0 5 0;
}

/* Загальний стиль плитки */
.question-tile {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-min-width: 40;
    -fx-min-height: 40;
}

/* Наведення миші */
.question-tile:hover {
    -fx-background-color: #f0f0f0;
}

/* Активна (обрана) плитка */
.question-tile.active-tile {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

/* Правильна */
.question-tile.correct-tile {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

/* Неправильна */
.question-tile.wrong-tile {
    -fx-background-color: #F44336;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.answer-button {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-alignment: CENTER_LEFT;
    -fx-pref-width: 600;
}

.answer-button:selected {
    -fx-background-color: #000000;
    -fx-text-fill: white;
}

.answer-button:hover {
    -fx-background-color: #f5f5f5;
}

.correct-answer {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.wrong-answer {
    -fx-background-color: #F44336;
    -fx-text-fill: white;
}

